{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<h1>Un Aceite que deleita nuestras sentidos</h1>    

<h2>Para acompañar cualquier comida, como se dice:
Casa del padre, viña del abuelo y olivar del bisabuelo</h2>   
<h3>Sume sabor a sus comidas con aceites de calidad en el siguiente formulario: </h3> 

<form action= "{% url 'Aceites' %}" method="POST">{% csrf_token %}
        
    {{ miFormulario.as_p }}

    <input type="submit" value="Enviar"/>


</form>
<a href="{% url 'Lista-Aceites' %}">Verificar aceites en disposicion</a>
        
{% endblock contenidoQueCambia %}







    
