{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


   <h2 class="text-center" style="color:darkolivegreen"> - Lista de aceites a su disposicion -</h2>
   <p></p>
   <ul>
        
        {% for aceite in object_list %}
            <li>
                <h6><i><a href= " {% url 'AceiteDetail' aceite.id %}">
                    {{aceite}}
                </a></i></h6>
            </li>
            <div>

                {% if request.user.is_staff %}
               <button>
                    <p><a style="color:olive" href=" {% url 'AceiteUpdate' aceite.id %}">Editar</a></p>
                </button> 
                    {% if request.user.is_superuser %}
                    <button>
                        <p><a style="color:olive" href=" {% url 'AceiteDelete' aceite.id %}">Eliminar</a></p>
                    </button> 
                    {% endif %}
                {% endif %}

            </div>
            
        {% endfor %}
            
   </ul>
   {% if request.user.is_staff %}
   <h6><i><u><p>Desea agregar algun aceite al repertorio?.</p></u></i></h6>     
   <button>
        <h6><a href=" {% url 'AceiteCreate' %}">Adicionar</a></h6>
   </button>
   <p></p>
   {% endif %}      
   <h6><i><u><p>Puede regresar al Inicio dando click a continuacion:</p></u></i></h6>    
    <button> 
        <h6></h6><a href="{% url 'Inicio' %}">Regresar</a></h6>     
    </button>  
{% endblock contenidoQueCambia %}