{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<h1>Un Aceite que deleita nuestras sentidos</h1>    

<h2>Para acompañar cualquier comida, como se dice:
Casa del padre, viña del abuelo y olivar del bisabuelo</h2>    
<h4> Lista de Aceites disponibles para adquir en el momento!: </h4>

<ul>

    {% for aceite in lista_aceite %}
     <li>{{aceite.nombre}} - {{aceite.varietal}}</li> 
    {% endfor %}

</ul>
<a href="{% url 'AceiteFormulario' %}">Agregar Aceite</a>
        
{% endblock contenidoQueCambia %}







    
