{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


<div class="text-center">
    <h4>Importante! Sino cargas un AVATAR no podras navegar por nuestra WEB</h4>
    <p></p>
</div>

<div class="text-left">

    <h5>Cargar Avatar</h5>
    <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <div>
        <ul>
            {{miFormulario.as_p}}
        </ul>
    </div>
    

    <input type="submit" value="Confirmar nuevo Avatar"/>
    </form>
</div>   
{% endblock contenidoQueCambia %}