{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div class="text-center alert alert-warning" role="alert">
    <h2 class="alert-heading">Edicion de Usuario</h2>
    <hr>
    <h4><p>Modifica a placer los datos que creas convenientes</p></h4>
    
</div>  
<div class="text-center">
    <form method="POST">{% csrf_token %}
        {{miFormulario.as_p}}
        {{mensaje}}
        <input type="submit" value="Actualizar">
    </form>      
</div>

{% endblock contenidoQueCambia %}