{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<h1>Tu equipo ve en ti una persona de confianza 
    que nos motiva a seguir trabajando por nuestros objetivos, gracias.<h1>    
<h2>Podra editar los datos de los miembros en el siguiente formulario:</h2>

<form action= "{% url 'EditarEquipo' id %}" method="POST">{% csrf_token %}
        
    {{ miFormulario.as_p }}

    <input type="submit" value="Actualizar"/>


</form>

<a href="{% url 'ListaEquipo' %}">Miembros que componen al staff</a>        
{% endblock contenidoQueCambia %}