{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div class="text-center">

        <h3>Llegar juntos es el principio. Mantenerse juntos, es el progreso. Trabajar juntos es el éxito.<h3>
         <p></p>               
        <h4><i> Añadir al grupo de trabajo a quienes correspondan: </i></h4>


        <form action= "{% url 'Equipo' %}" method="POST">{% csrf_token %}
                
                {{ miFormulario.as_p }}
        
                <input type="submit" value="Enviar"/>
        
        
        </form>
</div>
<h6>Podrá mirar la lista previamente para verificar el staff.- </h6>
<button>
    <h6><a href="{% url 'ListaEquipo' %}">Verificar personal</a></h6>    
</button>



{% endblock contenidoQueCambia %}