{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


<h1>Tu equipo ve en ti una persona de confianza 
que nos motiva a seguir trabajando por nuestros objetivos, gracias.<h1>
<h3>Añadir al grupo de trabajo a quienes correspondan: </h3>


<form action= "{% url 'Equipo' %}" method="POST">{% csrf_token %}
        
        {{ miFormulario.as_p }}
    
        <input type="submit" value="Enviar"/>
    
    
 </form>

<a href="{% url 'ListaEquipo' %}">Verificar personal</a>

{% endblock contenidoQueCambia %}