{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<h1>Solo bebo champagne en dos ocasiones, cuando estoy enamorada y cuando no lo estoy</h1>
<h4>Sume a su coleccion de espumantes a traves del siguiente formulario:</h4>


<form action= "{% url 'Espumantes' %}" method="POST">{% csrf_token %}
        
    {{ miFormulario.as_p }}

    <input type="submit" value="Enviar"/>


</form>

    


<a href="{% url 'Lista-Espumantes' %}">Espumantes disponibles</a>

        
{% endblock contenidoQueCambia %}