{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}
<div class="text-center">

    <h3 style="color:cadetblue">Sólo las personas poco creativas fallan al encontrar una razón para tomar espumantes.</h3>
    <p></p>
    <h4 style="color:darkcyan"><i>Sume a su coleccion de espumantes a traves del siguiente formulario:</i></h4>
    
    
    <form action= "{% url 'Espumantes' %}" method="POST">{% csrf_token %}
            
        {{ miFormulario.as_p }}
    
        <input type="submit" value="Enviar"/>
    
    
    </form>

</div>


    
<h6>Podrá mirar la lista previamente para verificar los agregados.- </h6>
<button>
    <h6><a href="{% url 'ListaEspumantes' %}">Espumantes disponibles</a></h6>    
</button>


        
{% endblock contenidoQueCambia %}