{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div class="text-center">
    
    {% if user.is_authenticated %}
    <h1>Vinos-Espumantes-Aceites, todo en un solo lugar</h1>
    <p></p>
    <p>Bienvenidos a la vinoteca mas diversa de Mendoza!</p>
    <p></p>
    <h4>{{mensaje}}</h4>
    <p></p>
    <img height="160px" src="{{url}}" alt="avatar">
    <h3>Que bueno verte {{user.username}}</h3>
    {% else %}
    <h1>Vinos-Espumantes-Aceites, todo en un solo lugar</h1>
    <p></p>
    <h4>{{mensaje}}</h4>
    {% endif %}

</div>
<p></p>
<p></p>

<h5> 
    Quieres ver una lista rapida y opciones concretas?
    Toca el siguiente boton! 
</h5>
    <div>
        
         <button>
            <li><a href="{% url 'VinoList' %}">Variedades de Vinos!</a></li> 
            <li><a href="{% url 'EspumanteList' %}">Espumantes burbujeantes!</a> </li>
            <li><a href="{% url 'AceiteList' %}">Aceites esenciales!</a> </li>
            <li><a href="{% url 'PersonalList' %}">Miembros del Staff!</a> </li>
         </button>

    </div>



        
{% endblock contenidoQueCambia %}