{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div class="text-center ">
    
    {% if user.is_authenticated %}
    <h2>Vinos-Espumantes-Aceites, todo en un solo lugar</h2>
    <p></p>
    <h4>- Bienvenidos a la vinoteca mas diversa de Mendoza! -</h4>
    <p></p>
    <h4>{{mensaje}}</h4>
    <p></p>
    <img height="160px" src="{{url}}" alt="avatar">
    <p></p>
    <h4 style="color:aquamarine">Que bueno verte {{user.username}}</h4>
    {% else %}
    <h1>Vinos-Espumantes-Aceites, todo en un solo lugar</h1>
    <p></p>
    <h4>{{mensaje}}</h4>
    {% endif %}

</div>
<p></p>
<p></p>
<hr>
<div class="text-center">
    <h6><i> 
        Quieres ver una lista rapida y opciones concretas?
        Toca el siguiente boton! 
    </h6></i>
        <div>
        
            <button>
                <span class="d-block p-2 bg-sucess text-dark">
                    <h5><li><i><a class="" href="{% url 'VinoList' %}">Variedades de Vinos!</a></i></li></h5>
                    <h5><li><i><a href="{% url 'EspumanteList' %}">Espumantes Burbujeantes!</a></i></li></h5>
                    <h5><li><i><a href="{% url 'AceiteList' %}">Aceites Esenciales!</a></i></li></h5>
                    <h5><li><i><a href="{% url 'PersonalList' %}">Miembros del Staff!</a></i></li></h5>
                </span>
            </button>

        </div>

</div>
<h4 style="color:red">Atencion!</h4>
<h6><i>Puedes editar los datos de tu usuario a continuacion:</i></h6>
<button>
    <h6><i><a href="{% url 'EditRegister' %}">Editar Usuario</a></i></h6>
</button>


<div style="text-align: right;">
    <iframe width="1" height="1" src="https://www.youtube.com/embed/WWAee9b4L2M?start=1&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock contenidoQueCambia %}
