{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<h1>Un Aceite que deleita nuestras sentidos</h1>  
<p></p>  
<h4> Lista de Aceites disponibles para consumir en el momento!: </h4>

<ul>

    {% for aceite in lista_aceite %}
     <li>{{aceite.nombre}} - {{aceite.varietal}}</li> 
    {% endfor %}

</ul>
<p></p>
<a href="{% url 'Aceites' %}">Agregar Aceites</a>
<p></p>
<h5> Muy larga la lista? filtra por varietal en el siguiente link:</h5>
<p></p>
<a href="{% url 'BusquedaAceite' %}">Filtrar</a>       
{% endblock contenidoQueCambia %}