{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

{% if listaEquipo %}
    
    <h1>Quienes conforman nuestro personal a su disposicion: </h1>
    <p>Si desea quitar o editar algun miembro del personal de la lista siempre y cuando tenga permisos, presionar en "Eliminar" o "Modificar" a continuacion: </p>

    <ul>
        
        {% for personal in listaEquipo %}
        <li>{{personal.nombre}} - {{personal.apellido}} - {{personal.cargo}} - {{personal.email}}</li>
                {% if request.user.is_superuser %}
                    <div>
                         <form action= "{% url 'EliminarEquipo' personal.id %}" method="POST">{% csrf_token %}
                         <button type="submit">Eliminar</button> |
                         <button> <a href="{% url 'EditarEquipo' personal.id %}">Modificar</a></button>
                        </form>
                    </div>    
                {% else %}   
                    {% if request.user.is_staff %}
                    <div>
                        <button>|<a href="{% url 'EditarEquipo' personal.id %}">Modificar</a>|</button>
                    </div>
                    {% endif %}
    
                {% endif %}        
        {% endfor %}
            


    </ul>
    {% if request.user.is_staff %}
    <a href="{% url 'Equipo' %}">Agregar mas miembros</a>  
    <p></p> 
    {% endif %}
    
    <h5> Muy larga la lista? filtra por cargo en el siguiente link:</h5>
    <p></p>
    <a href="{% url 'BusquedaCargo' %}">Filtrar</a> 
    <p></p>
    <h5>Volvamos al inicio si deseas seguir explorando opciones!</h5>
    <a href="{% url 'Inicio' %}">Inicio</a>    
{% else %}
    <h1>No hay informacion al respecto</h1>
    <h5>Volvamos al inicio si deseas seguir explorando opciones!</h5>
    <a href="{% url 'Inicio' %}">Inicio</a>     
{% endif %}     
{% endblock contenidoQueCambia %}