{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<h1>Vinos para olvidar las penas</h1>
<p></p>
<h5> A continuacion vera reflejado los vinos a disposicion: </h5>

<ul>
    
    {% for vino in lista_vino  %}
        <li>{{vino.nombre}} - {{vino.varietal}} - {{vino.añada}}</li>
    {% endfor %}

</ul>
<a href="{% url 'Vinos' %}">Agregar vino</a>
<p></p>
<h5> Muy larga la lista? filtra por varietal en el siguiente link</h5>
<p></p>
<a href="{% url 'BusquedaVarietal' %}">Filtrar</a>

{% endblock contenidoQueCambia %}