{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


<h1>Gracias a tu buena toma de decisiones y la eficiencia de tu trabajo, 
este equipo ha crecido y hemos impulsado a la empresa a nuevos niveles<h1>
<h3>Miembros que conforman este grandioso equipo:</h3>

<ul>
    
    {% for personal in lista_personal  %}
    <li>{{personal.nombre}} - {{personal.apellido}} - {{personal.cargo}} - {{personal.email}}</li>
    {% endfor %}
        
</ul>
<a href="{% url 'Equipo' %}">Agregar mas miembros</a>       
{% endblock contenidoQueCambia %}