{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

    <h1>Solo bebo champagne en dos ocasiones, cuando estoy enamorada y cuando no lo estoy</h1>
    <h4>Si desea quitar o editar algun item de la lista siempre y cuando tenga permisos, presionar en "Eliminar" o "Modificar" a continuacion: </h4>
    <ul>
        
        {% for espumante in listaEspumantes %}
        <li>{{espumante.nombre}} - {{espumante.varietal}} - {{espumante.añada}}</li>
        
            {% if request.user.is_superuser %}
                    <div>
                        <form action= "{% url 'EliminarEspumantes' espumante.id %}" method="POST">{% csrf_token %}
                            <button type="submit">Eliminar</button> |
                            <button><a href="{% url 'EditarEspumantes' espumante.id %}">Modificar</a></button>
                         </form>
                    </div> 
            {% else %}   
                {% if request.user.is_staff %}
                <div>
                    <button>|<a href="{% url 'EditarEspumantes' espumante.id %}">Modificar</a>|</button>
                </div>
                {% endif %}

            {% endif %}
        {% endfor %}
            


    </ul>
    {% if request.user.is_staff %}
    <a href="{% url 'Espumantes' %}">Agregar Vinos</a>  
    {% endif %} 
    <p></p>
    
    <h5> Muy larga la lista? filtra por varietal en el siguiente link:</h5>
    <p></p>
    <a href="{% url 'BusquedaAñada' %}">Filtrar</a> 
    <p></p>
    <h5>Volvamos al inicio si deseas seguir explorando opciones!</h5>
    <a href="{% url 'Inicio' %}">Inicio</a>    
{% endblock contenidoQueCambia %}