{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}
<div class="text-center">
    <img src="https://www.vinetur.com/imagenes/2019/diciembre/18/beber_vino_gusto_vino.jpg" class="rounded" alt=""  width="600" height="400">
</div>

<div class="text-left">
    <p>
        <h6>
            ¿Piensas que el gusto del vino no es tan importante como la apariencia o los aromas? sigue leyendo este artículo y te darás cuenta que el gusto del vino no solo te servirá para disfrutar muchísimo más el vino, sino que es una gran herramienta (y poco usada) para comprar mejores vinos o saber qué vino pedir, así como detectar a malos vendedores de vino.
            a apariencia y el aroma no son decisivos para encontrar el vino que quieres. Si prefieres blanco, tinto o rosado, es por la forma en que sabe el vino, no por el color en sí (a menos que estés tratando de combinar el color del vino con el de la comida). Y los aromas del vino son más o menos similares a sus sabores. Todo el truco está en describir el gusto en la boca.      
            Cuando comenzamos a catar vino nos damos cuenta de que nos enfrentamos a un dilema: o bien el vino es tan simple que no encontramos realmente que decir sobre él o los sabores nos llegan tan rápido y con tanta furia que no podemos distinguirlos. Llegado este momento, debemos aprender a distinguirlos paso a paso.
        </h6>
    </p>
</div>

<div class="text-center">
    <img src="https://www.vinetur.com/imagenes/2019/diciembre/18/beber_vino2_gusto_vino.jpg" class="rounded" alt=""  width="500" height="300">
</div>
<div class="text-center">
    <p>
        <h6>
            Los gustos del vino se revelan en secuencia, de acuerdo con la parte de la lengua que los detecta. Es recomendable seguir esa secuencia natural cuando trates de convertir en palabras lo que estás saboreando.
        </h6>
    </p>
    

</div>

<h2 class="text-left">Dulzor</h2>
<p>
    <h6>
        Es un gusto que se percibe en la punta de la lengua; apenas entra el vino en la boca se perciben el dulzor o su ausencia. En el mundo de la cata, seco es lo contrario de dulce. Clasifica el vino que estás tomando como seco, semiseco (en otras palabras, levemente dulce) o dulce.
    </h6>
</p>
<h2 class="text-left">Acidez</h2>
<p>
    <h6>
        Todo vino -tinto, rosado, blanco, tranquilo, generoso o espumoso...- contiene ácido (principalmente ácido tartárico, que está presente en las propias uvas), pero algunos vinos lo son más que otros. La acidez es más un factor de gusto en los vinos blancos que en los tintos. En los blancos es la columna vertebral del vino (le da la frescura y la definición en la boca). Los vinos blancos que tienen un buen equilibrio de acidez tienen un gusto fresco; y los que no tienen la suficiente tienen un gusto pesado. La sensación de acidez se percibe en los lados de la lengua. Se pueden notar las consecuencias de la acidez (o de la falta de ella) en el estilo del vino, si es un joven de zonas frías o uno evolucionado y de carácter suave y amable, por ejemplo. De la cantidad de acidez, de mayor a menor, depende que un vino pueda llamarse agrio, fresco o pesado.
    </h6>
</p>
<h2 class="text-left">Taninos</h2>
<p>
    <h6>
        Los taninos son un compuesto que se produce de forma natural en la piel, llamada hollejo, y otras partes de la uva. Como los vinos tintos se fermentan con los hollejos, la concentración de taninos es mucho mayor en los vinos tintos que en los blancos. ¿Has probado alguna vez un vino tinto y te ha parecido que la boca se te secaba? Eso es el tanino. Para generalizar un poco, los taninos son al vino tinto lo que la acidez al blanco: la columna vertebral. Percibirás los taninos cerca del fondo de la lengua, porque, con frecuencia, saben amargos. Pero también se pueden detectar en otras partes: en el lado interior de las mejillas, y entre éstas y las encías si la cantidad es muy elevada. Del contenido y la naturaleza del tanino, de mayor a menor, depende que un vino pueda llamarse astringente, duro, aterciopelado o suave.
    </h6>
</p>
<h2 class="text-left">Textura</h2>
<p>
    <h6>
        La suavidad y la dureza son impresiones de textura que te transmite el vino al probarlo. Lo mismo que la boca siente la temperatura de un líquido, también percibe la textura. Algunos vinos se notan suaves o tersos en la boca, mientras que otros parecen duros y ásperos. En los vinos blancos, el ácido es, en general, responsable de las impresiones de dureza o firmeza; en los tintos, suele ser el tanino, el responsable. Los bajos niveles de una u otra sustancia pueden hacer de un vino algo placentero y suave o demasiado flojo. Depende de qué vino se trate. La cantidad de alcohol y de azúcar libre sin fermentar también contribuyen a la impresión de textura suave.
    </h6>
</p>
<h2 class="text-left">Cuerpo</h2>
<p>
    <h6>
        El cuerpo de un vino es la impresión que nos da en conjunto, no en un lugar preciso de la lengua, sino en toda la boca. Es la impresión del peso y tamaño del vino en la boca, lo que es atribuible en buena medida a su contenido en alcohol. Decimos impresión, obviamente, porque un trago de cualquier vino va a ocupar el mismo espacio en la boca y a pesar lo mismo que otro. Pero algunos vinos parecen en la boca más plenos, más grandes o más pesados que otros. Piensa en la densidad del vino y pésalo en la lengua mientras lo pruebas. Imagínate que tu lengua es una báscula y juzga cuánto pesa el vino ¿parece leche entera o parece agua débil?. Clasifícalo, de menos a más, como de cuerpo ligero, cuerpo medio o cuerpo pleno, carnoso, voluminoso.
    </h6>
</p>
<h2 class="text-left">Sabores</h2>
<p>
    <h6>
        Los vinos tienen "sabores" (aromas en la boca), pero no tienen un sabor determinado. Es cierto que a uno le puede gustar la impresión de chocolate que le sugiere un vino tinto que está probando, pero a nadie se le ocurre ir a una tienda especializada y pedir un vino de chocolate. En su lugar, solemos referirnos a familias de sabores en el vino. Están los vinos afrutados (los que te hacen pensar en frutas cuando los tienes en la boca); los terrosos (que hacen pensar en pimienta o salado); los herbáceos (que recuerdan a hierbabuena, menta, hierba, mejorana, etc.). Hay tantos sabores en el vino que se puede seguir indefinidamente. Si quieres saber más sobre los aromas o sabores del vino.r:
    </h6>
</p>

<h1 class="text-center">Recomendación para comprar vino</h1>
<div class="text-center">
    <img src="https://www.vinetur.com/imagenes/2019/diciembre/18/comprar_vino.jpg" class="rounded" alt=""  width="600" height="400">
</div>

<p>
    <h6>
        Si te gusta un vino y quieres buscar otro que sea similar, trata de definir qué sabores identificas en el que te gusta y menciónaselo a la persona que te vende el vino cuando compres la próxima botella. Por ejemplo, la próxima vez que vayas a un restaurante o visites una tienda, incluso online, evita pedir una "marquita" (me refiero a que no pidas el vino por una región vinícola popular, o por una uva, o por una bodega de renombre), en lugar de ello solicita que estás interesado en comprar un vino tinto con sabores o aromas a vainilla, o frutos secos, o un blanco muy frutal y suave... lo que quieras, lo que te apetezca, del mismo que cuando compras un helado lo harás por el sabor que te gusta y no buscarás un helado del sur de la Toscana. Un buen comercial de vinos o un sumiller sabrá que ofrecerte (asimismo un mal comercial o un mal sumiller eludirá tu petición, te desviará a una "marquita" u otra cosa, y así sabrás de antemano que allí no te conviene comprar vino). No falla.
    </h6>
</p>
<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yRhsnTFE9nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

//


//

{% endblock contenidoQueCambia %}