{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


<h1>La historia de Coderhouse, 
    la plataforma de educación digital que factura USD 1 millón de dólares por mes
    y consiguió inversores en Silicon Valley
</h1>

<h4>“Nuestro foco está en la expansión regional a cualquier país hispanoparlante de la región. 
    Tenemos un producto que es replicable y vamos a darle la escala para cumplir nuestra misión:
    democratizar la educación de calidad en América Latina.
    Tenemos que utilizar la inversión para hacerlo conocido fuera de la Argentina,
    lo que requiere una inversión de marketing y de desarrollo de marca muy fuerte,
    que comenzará en México y Colombia. Brasil y Estados Unidos están en nuestro roadmap,
    pero más adelante”
<h4>

        
{% endblock contenidoQueCambia %}