{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


   <h1>Lista del personal a su disposicion:</h1>
    
   <ul>
        
        {% for personal in object_list %}
            <li>
                <a href= " {% url 'PersonalDetail' personal.id %}">
                    {{personal}}
                </a>
            </li>
            <div>
                {% if request.user.is_staff %}
               <button> |
                    <a href=" {% url 'PersonalUpdate' personal.id %}">Editar</a> |
                    {% if request.user.is_superuser %}
                    <a href=" {% url 'PersonalDelete' personal.id %}">Eliminar</a> |
                    {% endif %}
               </button> 
               {% endif %}
            </div>
            
        {% endfor %}
            
   </ul>
    {% if request.user.is_staff %}
    <p>Desea agregar algun miembro al staff?</p>   
    <button>
        <a href=" {% url 'PersonalCreate' %}">Adicionar</a>
    </button>
    <p></p>
    {% endif %}
    <p>Puede regresar al Inicio dando click a continuacion:</p> 
    <button> 
    <a href="{% url 'Inicio' %}">Regresar</a>     
    </button>    
{% endblock contenidoQueCambia %}