{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div class="text-center">
    <h1>Vinos-Espumantes-Aceites, todo en un solo lugar</h1>
    <p></p>
    <h2>Bienvenidos a la vinoteca mas diversa de Mendoza!</h2>
    <p></p>
    <p></p>
    <hr>
    <h5 style="color:red" class="text-uppercase">Ups! lamentablemente hubo un error al intentar crear un usuario</h5>
    <p></p>
</div>
<hr>
<h5><i> Puedes volver a intentar desde el siguiente Link</h5></i>
<p></p>
<h6 style="color:orangered">Verifica que los datos no hayan sido utilizados anteriormente</h6>
<p></p>
<Button>
    <h6><a href="{% url 'Register' %}">Volver a registrarse</a><h6>
</Button>


{% endblock contenidoQueCambia %}