{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<div class="Text-center">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Usuario creado Exitosamente! Disfruta el recorrido en nuestra Vinoteca></h4>
        <h5><p>Ya casi estamos! para poder recorrer nuestra Web es necesario que inicies sesion!</p></h5>
        <hr>
    </div>
    <p></p>
    <p></p>
    <hr>
    <h5>Has Click en el siguiente boton para hacerlo rapidamente! </h5>
    <p></p>
    <Button>
        <h6><a href="{% url 'Login' %}">Iniciar Sesion</a></h6>
    </Button>
</div>


{% endblock contenidoQueCambia %}
