{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

{% if espumantes %}

<p> Estamos buscando la: {{añada}}</p>

<ul>
{% for espumante in espumantes  %}
    
    <li> {{espumante.nombre}} - {{espumante.varietal}} - {{espumante.añada}} </li>

{% endfor %}
</ul>

{% else %}

<p>No hay datos con esa añada,vuelve intentar</p>

{% endif %}
<p style="color:red;">{{respuesta1}}</p>
<p></p>
<a href="{% url 'BusquedaAñada' %}">Buscas otra añada?</a>
<p></p>
<a href="{% url 'ListaEspumantes' %}">Lista Espumante</a>

{% endblock contenidoQueCambia %}