{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


{% if vinos %}
    <h5 style="color:crimson"><p> Estamos buscando el: {{varietal}}</p></h5>
    <p></p>
    <ul>
    {% for vino in vinos  %}
    
        <h6><i><li> {{vino.nombre}} - {{vino.varietal}} - {{vino.añada}} </li></i></h6>

    {% endfor %}
    </ul>

{% else %}

    <div class="text-center">
        <h4><i><p style="color:red;">{{respuesta}}</p></h4></i>
        <h3><i><p>No se encuentra el varietal asignado , volver a intentar...</p></i></h3>
    </div>

{% endif %}

    <p></p>
    <h6><a href="{% url 'BusquedaVarietal' %}">Buscas otro varietal?</a></h6>
    <p></p>
    <h6><i><u> Si has finalizado puedes volver a la lista:</i></u></h6>
    <p></p>
    <h6><a href="{% url 'ListaVinos' %}">Lista en cava</a></h6>

{% endblock contenidoQueCambia %}