{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

{% if aceites %}
<p> Estamos buscando el: {{aceite}}</p>

<ul>
{% for aceite in aceites  %}
    
<li>{{aceite.nombre}} - {{aceite.varietal}}</li>

{% endfor %}

</ul>
{% else %}
<p>No hay datos con ese aceite,vuelve intentar</p>
{% endif %}

<p style="color:red;">{{respuesta2}}</p>
<p></p>
<a href="{% url 'BusquedaAceite' %}">Buscas otra aceite?</a>
<p></p>
<a href="{% url 'Lista-Aceites' %}">Lista aceites</a>

{% endblock contenidoQueCambia %}