{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


   <h1>Lista de vinos a su disposicion:</h1>
    
   <ul>
        
        {% for vino in object_list %}
            <li>
                <a href= " {% url 'VinoDetail' vino.id %}">
                    {{vino}}
                </a>
            </li>
            <div>
               <button> |
                <a href=" {% url 'VinoUpdate' vino.id %}">Editar</a> |
                <a href=" {% url 'VinoDelete' vino.id %}">Eliminar</a>
               </button> 
               
            </div>
            
        {% endfor %}
            
   </ul>

   <p>Desea agregar algun vino al repertorio?</p>   
   <button>
       <a href=" {% url 'VinoCreate' %}">Adicionar</a>
   </button>   
   <p>Puede regresar al Inicio dando click a continuacion:</p> 
    <button> 
    <a href="{% url 'Inicio' %}">Regresar</a>     
    </button> 
{% endblock contenidoQueCambia %}